body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.info {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
